-i https://pypi.org/simple
asgiref==3.6.0 ; python_version >= '3.7'
certifi==2023.5.7 ; python_version >= '3.6'
charset-normalizer==3.1.0 ; python_full_version >= '3.7.0'
django==4.1
django-vite==2.0.2
idna==3.4 ; python_version >= '3.5'
inertia-django==0.5.2
requests==2.30.0 ; python_version >= '3.7'
sqlparse==0.4.4 ; python_version >= '3.5'
urllib3==1.26.15
